.header1 {
  font-family: cursive;
  font-size: 2em;
}
.header2 {
  font-family: cursive;
  font-size: 1.2em;
}
.display_ib {
  display: inline-block;
}
.img_logo {
  vertical-align: super;
  padding: 0 1.7%;
}

.headerCss {
  margin: 50px;
}
